body {
  background-color: rgb(255, 255, 255);
}

.AppContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 250px;

  margin-top: 5px;
  margin-bottom: 10px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 30%;
  }
  .image {
    width: 70%;
  }
}
